{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
    <div id="about">
        <h3>About Us</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, molestiae dolorem perferendis natus obcaecati dolores in amet. Eaque magni facere harum ab numquam, mollitia nostrum eveniet ad beatae ducimus esse.
        </p>
    </div>
{% endblock %}