@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    height:100vh;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image: 
    linear-gradient(115deg, rgb(0, 0, 0), rgb(60, 60, 60)), 
    linear-gradient(to bottom, rgba(240, 240, 240, 0.05), rgba(240, 240, 240, 0.05)),
    radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), rgb(40, 40, 40), rgb(0, 10, 20)), 
    radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), rgb(30, 30, 30), rgb(50, 50, 50)), 
    radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(25, 25, 25), rgb(45, 45, 45)), 
    radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255, 77, 0), rgb(0, 200, 255)), 
    linear-gradient(60deg, rgb(255, 0, 0), rgb(120, 86, 255));
    background-blend-mode: overlay, overlay, normal, difference, difference, difference, normal;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

#main-nav div a {
    color: white;
    text-decoration: none;
}

#main-nav div {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.heading {
    text-align: center;
    color: white;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content #logo {
    border-radius: 10px;
}

#about {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 684px;
}

#about p {
    width: 80%;
    text-align: center;
}

#about h3 {
    text-align: center;
    width: 20%;
}